<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.cart.CartMapper">
	
	
	
	<!-- 주문/견적서 요청 시 cartId로 정보 -->
	<select id="selectCartItemListByIds" resultType="io.github.teamb.btob.dto.cart.CartItemDTO">
	    SELECT
	        c.cart_id,
	        c.user_id,
	        c.fuel_id,
	        c.total_qty,
	        c.total_price,
	        c.cart_status,
	        c.reg_dtime,
	        c.order_no,
	        o.fuel_nm,
	        o.base_unit_prc,
	        m.order_id,
	        m.order_status,
	        s.etp_stts_nm,
	        u.user_no,
	        u.user_name,
	        u.phone, 
	        cp.company_cd,
	        cp.company_name,
	        cp.biz_number,
	        cp.master_id,
	        cp.company_phone,
            cp.addr_kor,
            cp.addr_eng,
            cp.zip_code,
            cp.customs_num,
	        cp.addr_kor 
        FROM TB_CART c
        JOIN TB_OIL_MST o ON c.fuel_id = o.fuel_id
        LEFT JOIN TB_ORDER_MST m ON c.order_no = m.order_no
        LEFT JOIN TB_ETP_STTS_CD s ON m.order_status = s.etp_stts_cd  
        LEFT JOIN TB_USERS u ON c.user_id = u.user_id
        LEFT JOIN TB_COMPANIES cp ON u.company_cd = cp.company_cd
	    WHERE c.cart_id IN 
	    <foreach item="id" collection="idList" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	    AND c.use_yn = 'Y'
	    ORDER BY c.reg_dtime DESC
	</select>
	
	<!-- 거래바구니 담기 -->
    <select id="selectCartItemList" resultType="io.github.teamb.btob.dto.cart.CartItemDTO">
        SELECT
            c.cart_id,
            c.user_id,
            c.fuel_id,
            c.total_qty,
            c.total_price,
            c.cart_status,
            c.reg_dtime,
            c.order_no,
            o.fuel_nm,
            o.base_unit_prc,
            m.order_id,
            m.order_status,
            s.etp_stts_nm,
            u.user_name,
            u.phone,
            cp.company_cd,
            cp.company_name,
            cp.biz_number,
            cp.master_id,
            cp.company_phone,
            cp.addr_kor,
            cp.addr_eng,
            cp.zip_code,
            cp.customs_num
        FROM TB_CART c
	        JOIN TB_OIL_MST o ON c.fuel_id = o.fuel_id
	        LEFT JOIN TB_ORDER_MST m ON c.order_no = m.order_no
	        LEFT JOIN TB_ETP_STTS_CD s ON m.order_status = s.etp_stts_cd  
	        LEFT JOIN TB_USERS u ON c.user_id = u.user_id
  			LEFT JOIN TB_COMPANIES cp ON u.company_cd = cp.company_cd
        WHERE c.user_id = #{userId}
            AND c.use_yn = 'Y'	
            AND c.cart_status IN ('PENDING', 'REQ')
        ORDER BY c.reg_dtime DESC
    </select>
    
    <!-- 아이미 있는 상품 조회 -->
    <select id="selectExistingCartItem" resultType="io.github.teamb.btob.dto.cart.CartItemInsertDTO">
        SELECT
            cart_id,
            user_id,
            fuel_id,
            total_qty,
            total_price,
            cart_status
        FROM TB_CART
        WHERE user_id = #{userId}
          AND fuel_id = #{fuelId}
          AND cart_status = 'PENDING'
          AND order_no IS NULL
    </select>
    
    <!-- 거래바구니 인서트 -->
    <insert id="insertCartItem">
        INSERT INTO TB_CART (
            user_id,
            fuel_id,
            total_qty,
            total_price,
            cart_status,
            reg_id,
            use_yn
        ) VALUES (
            #{userId},
            #{fuelId},
            #{totalQty},
            #{totalPrice},
            'PENDING',
            #{userId},
            'Y'
        )
    </insert>
    
    <!-- 거래바구니 업데이트 -->
    <update id="updateCartItem">
        UPDATE TB_CART
        SET
            total_qty   = #{totalQty},
            total_price = #{totalPrice},
            upd_dtime   = NOW(),
            upd_id      = #{userId}
        WHERE cart_id = #{cartId}
          AND user_id = #{userId}
          AND cart_status = 'PENDING' 
    </update>
    
    <!-- 거래바구니 품목 삭제 -->
    <delete id="deleteCartItem">
        DELETE FROM TB_CART
        WHERE cart_id = #{cartId}
          AND user_id = #{userId}
          AND cart_status = 'PENDING'
          AND order_no IS NULL
    </delete>
    
    <!-- 거래바구니 비우기 -->
    <update id="clearCart">
       UPDATE TB_CART
       SET
           use_yn = 'N',
           upd_dtime = NOW(),
           upd_id = #{userId}
       WHERE user_id = #{userId} 
         AND order_no = #{orderNo}
         AND cart_status = 'ORDERED'
    </update>
    
    <!-- 장바구니 상태 변경 -->
    <update id="updateCartOrderInfo">
	    UPDATE TB_CART
	    SET 
	        cart_status = #{status},
	        use_yn = #{useYn},
	        upd_id = #{userId}, 
	        upd_dtime = NOW()
	    WHERE order_no = #{orderNo} AND user_id = #{userId}
	</update>
	
	<!-- 장바구니 상태 ORDERED 변경 -->
	<update id="updateCartStatusOrdered">
	    UPDATE TB_CART
	    SET 
	        cart_status = #{status},
	        upd_dtime = NOW(),
	        use_yn = #{useYn}
	    WHERE order_no = #{orderNo}
	      AND user_id = #{userId}
	</update>
</mapper>