<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.adminSupport.FaqMapper">
	
	<select id="selectFaqList" resultType="io.github.teamb.btob.dto.adminSupport.FaqDTO">
		SELECT
	        faq_id faqId,
	        category,
	        question,
	        answer,
	        reg_dtime regDtime
	    FROM TB_FAQ
	    WHERE use_yn = 'Y'
	    <if test="category != null and category != ''">
	        AND category = #{category}
	    </if>
	    <if test="searchKeyword != null and searchKeyword != ''">
	        AND (
	            question LIKE CONCAT('%', #{searchKeyword}, '%')
	            OR answer LIKE CONCAT('%', #{searchKeyword}, '%')
	        )
	    </if>
	    ORDER BY reg_dtime DESC
	</select>
	
	<select id="selectFaqDetail" resultType="io.github.teamb.btob.dto.adminSupport.FaqDTO">
        SELECT 
            faq_id AS faqId,
            category,
            question,
            answer,
            reg_dtime regDtime,
            reg_id regId,
            upd_dtime updDtime,
            upd_id updId,
            use_yn useYn
        FROM TB_FAQ 
        WHERE faq_id = #{faqId}
    </select>

    <insert id="insertFaq">
        INSERT INTO TB_FAQ (category, question, answer, reg_id, upd_id)
        VALUES (#{category}, #{question}, #{answer}, #{regId}, #{regId})
    </insert>

    <update id="updateFaq">
        UPDATE TB_FAQ
        SET category = #{category},
            question = #{question},
            answer = #{answer},
            upd_dtime = NOW(),
            upd_id = #{updId}
        WHERE faq_id = #{faqId}
    </update>

    <update id="deleteFaq">
        UPDATE TB_FAQ 
        SET use_yn = 'N', 
            upd_dtime = NOW() 
        WHERE faq_id = #{faqId}
    </update>
    
    <!-- 챗봇 faq 검색 -->
    <select id="selectFaqByChatbot" resultType="io.github.teamb.btob.dto.adminSupport.FaqDTO">
	    SELECT 
	        question, 
	        answer 
	    FROM TB_FAQ 
	    WHERE use_yn = 'Y' 
	      AND (question LIKE CONCAT('%', #{question}, '%') 
	           OR #{question} LIKE CONCAT('%', question, '%'))
	    ORDER BY LENGTH(question) DESC LIMIT 1
	</select>
</mapper>