<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.trade.TradeApprovalMapper">
	
	<select id="getTradePendingList" resultType="io.github.teamb.btob.dto.trade.TradePendingDTO">
	    SELECT 
	        O.order_id,
	        O.order_no,
	        CASE WHEN O.est_id IS NOT NULL AND O.est_id > 0 
	             THEN 'ESTIMATE' 
	             ELSE 'PURCHASE ORDER'
	        END AS docType,
	        O.order_status,
	        U.user_no,
	        U.user_id,
	        U.user_name,
	        U.phone,
	        O.reg_dtime
	    FROM TB_ORDER_MST O
	    INNER JOIN TB_USERS U ON O.user_no = U.user_no
	    INNER JOIN TB_COMPANIES CO ON U.company_cd = CO.company_cd
	    <where>
	        O.use_yn = 'Y'
	        AND O.order_status = 'od001'
	        AND CO.company_cd = (
	            SELECT company_cd FROM TB_USERS WHERE user_no = #{userNo}
	        )
	        /* 검색 필터 유지 */
	        <if test="tradeType == 'EST'">
	            AND O.est_id IS NOT NULL AND O.est_id > 0
	        </if>
	        <if test="tradeType == 'ORD'">
	            AND (O.est_id IS NULL OR O.est_id = 0)
	        </if>
	        <if test="keyword != null and keyword != ''">
	            AND (O.order_no LIKE CONCAT('%', #{keyword}, '%') 
	                 OR U.user_name LIKE CONCAT('%', #{keyword}, '%'))
	        </if>
	    </where>
	    ORDER BY O.reg_dtime DESC
	</select>


</mapper>