<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.user.UserMapper">
		
		<!-- 주문/배송목록 -->
		<select id="selectUserOrderList" parameterType="map" resultType="io.github.teamb.btob.dto.order.OrderHistoryDTO">
	    SELECT 
	        o.order_id,
	        o.order_no,
	        o.reg_id,
	        CASE 
	            WHEN COUNT(c.cart_id) > 1 
	            THEN CONCAT(MAX(c.fuel_nm), ' 외 ', COUNT(c.cart_id) - 1, '건')
	            ELSE MAX(c.fuel_nm)
	        END AS productName,
	        o.order_status,
	        s1.etp_stts_nm AS statusNm,
	        p.amount,	
	        o.reg_dtime,
	        d.delivery_status,
	        s2.etp_stts_nm AS deliveryStatusNm
	    FROM TB_ORDER_MST o
	    LEFT JOIN TB_CART c ON o.order_no = c.order_no 
	    LEFT JOIN TB_ETP_STTS_CD s1 ON o.order_status = s1.etp_stts_cd
	    LEFT JOIN TB_DELIVERY d ON o.order_id = d.order_id
	    LEFT JOIN TB_ETP_STTS_CD s2 ON d.delivery_status = s2.etp_stts_cd
	    LEFT JOIN TB_PAYMENT_MST p ON o.order_id = p.order_id 
	    <where>
	        <if test="userType != 'MASTER'">
	            AND o.reg_id = #{userId}
	        </if>
	        AND o.use_yn = 'Y'
	
	        <if test="orderStatus != null and orderStatus != ''">
	            AND o.status = #{orderStatus}
	        </if>
	
	        <if test="showSearchArea == 'true' and keyword != null and keyword != ''">
	            AND (
	                o.order_no LIKE CONCAT('%', #{keyword}, '%')
	                OR o.reg_id LIKE CONCAT('%', #{keyword}, '%')
	            )
	        </if>
	    </where>
	    GROUP BY o.order_id
	    ORDER BY o.order_no DESC
	</select>
	
	<!-- 아이디로 PK찾기 -->
	<select id="getUserNoById">
		SELECT 
			user_no
		FROM TB_USER
		WHERE user_id = #{userId}
	</select>
	
	<!-- 아이디로 type찾기 -->
	<select id="getUserTypeById">
		SELECT
		   user_type 
	    FROM TB_USER 
	    WHERE user_id = #{userId}
	</select>
	
	<!-- 회원가입 인증 -->
	<update id="processPendingUser">
		UPDATE TB_USERS
		SET app_status = #{appStatus}			
		WHERE user_no = #{userNo}	
	</update>
	
	<!-- 사원 회원가입 인증 대기 목록 --> 
	<select id="getPendingUsers" resultType="io.github.teamb.btob.dto.user.UserPendingDTO">
		 SELECT
	        user_no,        
	        user_id,      
	        user_name,     
	        phone,
	        app_status, 
	        reg_dtime
	    FROM TB_USERS
	    WHERE use_yn = 'Y' AND app_status = 'PENDING'
	    ORDER BY user_no ASC
	</select>
	
	<!-- 사원 관리 --> 
	<update id="modifyUserStatus">
		UPDATE TB_USERS
		SET acc_status = #{accStatus},
			upd_id = #{updId},
			use_yn = #{useYn},
			upd_dtime = NOW()
		WHERE user_no = #{userNo}
	</update>
	
	<!-- 사원 목록 --> 
	<select id="getUserList" resultType="io.github.teamb.btob.dto.user.UserListDTO">
	    SELECT
	        user_no,        
	        user_id,      
	        user_name,     
	        phone,
	        acc_status, 
	        reg_dtime
	    FROM TB_USERS
	    WHERE use_yn = 'Y'
	    <if test="accStatus != null and accStatus != ''">
	        AND acc_status = #{accStatus}
	    </if>
	    
	    <if test="keyword != null and keyword != ''">
	        AND (
	            user_name LIKE CONCAT('%', #{keyword}, '%')
	            OR user_id LIKE CONCAT('%', #{keyword}, '%')
	        )
	    </if>
	    
	    ORDER BY user_no DESC
	</select>
	
	<!-- 신규 회사 사원 엑셀등록 --> 
	<insert id="insertUsers" parameterType="java.util.List">
    INSERT INTO TB_USERS (
        user_id, password, user_name, phone, email,
        company_cd, user_type, app_status, acc_status,
        reg_id, reg_dtime, use_yn
    ) VALUES
    <foreach collection="list" item="user" separator=",">
        (
            #{user.userId},
            #{user.password},
            #{user.userName},
            #{user.phone},
            #{user.email},
            #{user.companyCd},
            #{user.userType},
            #{user.appStatus},
            #{user.accStatus},
            #{user.regId},
            NOW(),
            'Y'
        )
    </foreach>
</insert>

	<!-- 사원등록 아이디체크 --> 
    <select id="checkUserId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USERS WHERE user_id = #{userId}
    </select>

	<!-- 사원등록 회사체크 --> 
    <select id="checkCompanyCd" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_COMPANIES WHERE company_cd = #{companyCd}
    </select>
	
</mapper>