<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.adminUser.AdminUserMapper">
	
	<!-- 전체 사용자 목록 조회 -->
	<select id="selectAllUsers" resultType="map">
		SELECT
			U.user_no, U.user_id, U.user_name, U.user_type, 
            U.app_status, U.acc_status, U.company_cd,
            U.email, U.phone, U.address, C.biz_number, U.position,
            C.company_name, C.company_phone, C.customs_num, U.reg_dtime
		FROM TB_USERS U
		LEFT JOIN TB_COMPANIES C ON U.company_cd = C.company_cd
		ORDER BY U.reg_dtime DESC
	</select>
	
	<!-- 대표 가입 승인 -->
	<update id="updateCompanyApproval">
		UPDATE TB_USERS
		SET app_status = 'APPROVED', acc_status = 'ACTIVE',
			upd_id = #{updId}, upd_dtime = NOW()
		WHERE user_id = #{userId} AND user_type = 'MASTER'
	</update>
	
	<!-- 대표 가입 반려 -->
	<update id="updateCompanyReject">
	    UPDATE TB_USERS
	    SET app_status = 'REJECTED',
	        <!-- acc_status = 'STOP',      반려 시 접속 차단 -->
	        reject_reason = #{rejectReason},
	        reject_dtime = NOW(),
	        upd_id = #{adminId},
	        upd_dtime = NOW()
	    WHERE user_id = #{userId}
	</update>
	
	<!-- 이력 저장 -->
	<insert id="insertUserHistory" parameterType="map">
	    INSERT INTO TB_USER_HISTORY (
	        user_id, prev_status_cd, curr_status_cd, status_nm, reason, reg_id, reg_dtime
	    ) VALUES (
	        #{userId}, #{prevStatusCd}, #{currStatusCd}, #{statusNm}, #{reason}, #{regId}, NOW()
	    )
	</insert>
	
	<!-- 이력 조회 -->
	<select id="selectUserHistory" parameterType="String" resultType="map">
	    SELECT 
	        status_nm       statusNm,
	        curr_status_cd  currStatusCd,
	        reason          reason,
	        reg_id          regId,
	        DATE_FORMAT(reg_dtime, '%Y-%m-%d %H:%i:%s') AS regDtime
	    FROM TB_USER_HISTORY
	    WHERE user_id = #{userId}
	      AND use_yn = 'Y'
	    ORDER BY reg_dtime DESC
	</select>
	
	<!-- 사용자 상태 조회 -->
	<select id="selectUserCurrStatus" resultType="String">
	    SELECT app_status 
	    FROM TB_USERS 
	    WHERE user_id = #{userId}
	</select>
	
	<!-- 계정 상태 변경 -->
	<update id="updateUserStatus">
		UPDATE TB_USERS
		SET acc_status = #{accStatus},
			upd_id = #{updId},
			upd_dtime = NOW()
		WHERE user_id = #{userId}
	</update>
	
	<!-- 신규 관리자 등록 -->
	<insert id="insertAdminUser">
		INSERT INTO TB_USERS(
			user_id, password, user_name, user_type, phone, app_status, acc_status, 
			reg_dtime, reg_id, upd_id
		)
        VALUES (
        	#{userId}, #{password}, #{userName}, 'ADMIN', #{phone}, 'APPROVED', 'ACTIVE', 
        	NOW(), #{regId}, #{updId}
        )
	</insert>
	
	<!-- 아이디 중복 -->
	<select id="countByUserId" resultType="int">
    	SELECT COUNT(*) FROM TB_USERS WHERE user_id = #{userId}
	</select>
</mapper>