<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.document.TradeDocMapper">
		
		<!-- 
		<select id="getOrderDetailList" resultType="io.github.teamb.btob.dto.trade.TradePendingDTO">
		SELECT 
	        O.order_id,
	        O.order_no,
	        O.est_id,
	        O.order_status,
	        O.reg_dtime,
	        C.cart_id,
	        F.fuel_nm,
	        C.total_qty,
	        C.total_price,
	        F.base_unit_prc,
	        U.user_no,
	        U.user_id,
	        U.user_name,
	        U.phone,
	        CO.company_name,
	        CO.company_cd,
	        CO.biz_number,
	        CO.addr_kor
	    FROM TB_ORDER_MST O
		    INNER JOIN TB_CART C ON O.order_no = C.order_no
		    INNER JOIN TB_OIL_MST F ON C.fuel_id = F.fuel_id
		    INNER JOIN TB_USERS U ON O.user_no = U.user_no
		    INNER JOIN TB_COMPANIES CO ON U.company_cd = CO.company_cd
	    WHERE O.order_id = #{orderId}
	    ORDER BY C.cart_id ASC
		</select>
		-->
		
	<select id="getTransactionDetail" parameterType="int" resultType="io.github.teamb.btob.dto.trade.TransactionDetailDTO">
	    SELECT 
	        d.doc_id,
	        d.doc_no,
	        d.doc_title,
	        d.total_amt,
	        d.reg_dtime, 
	        c.company_name,
	        c.addr_kor,
	        c.company_phone,
	        u.user_name,
	        u.phone
	    FROM 
	        TB_DOCUMENT_MST d
	    INNER JOIN 
	        TB_ORDER_MST o ON d.order_id = o.order_id
	    INNER JOIN 
	        TB_USERS u ON d.owner_user_id = u.user_id
	    INNER JOIN 
	        TB_COMPANIES c ON u.company_cd = c.company_cd
	    WHERE 
	        d.order_id = #{orderId}
	        AND d.doc_type = 'TRANSACTION'
	</select>	
		
	<resultMap id="ContractDetailMap" type="io.github.teamb.btob.dto.trade.ContractDetailDTO">
	    <id property="docId" column="doc_id" />
	    <result property="docNo" column="doc_no" />
	    <result property="docTitle" column="doc_title" />
	    <result property="totalAmt" column="total_amt" />
	    <result property="dueDate" column="due_date" />
	    <result property="docContent" column="doc_content" />
	    <result property="regDtime" column="reg_dtime" />
	
	    <result property="companyName" column="company_name" />
	    <result property="addrKor" column="addr_kor" />
	    <result property="companyPhone" column="company_phone" />
	    <result property="userName" column="user_name" />
	    <result property="phone" column="phone" />
	
	    <collection property="itemList" ofType="io.github.teamb.btob.dto.trade.ContractDetailDTO$ContractItemDTO">
	    	<id property="cartId" column="cart_id" />	    
	        <result property="fuelNm" column="fuel_nm" />
	        <result property="totalQty" column="total_qty" />
	        <result property="totalPrice" column="total_price" />
	        <result property="targetProductPrc" column="target_product_prc" />
	        <result property="targetProductAmt" column="target_product_amt" />
	        <result property="baseUnitPrc" column="base_unit_prc" />
	    </collection>
	</resultMap>		
		
	<select id="getContractDetail" resultMap="ContractDetailMap">
	    SELECT 
		    D.doc_id,		    
	        D.doc_no,
	        D.doc_title,
	        D.total_amt,
	        D.due_date,
	        D.doc_content,
	        D.reg_dtime,
	        CO.company_name,
	        CO.addr_kor,
	        CO.company_phone,
	        U.user_name,
	        U.phone,
	        OIL.fuel_nm,
	        CT.cart_id,
	        CT.total_qty,
	        CT.total_price,
	        OIL.base_unit_prc,
	        CT.target_product_prc,
	        CT.target_product_amt
	    FROM TB_DOCUMENT_MST D
	    INNER JOIN TB_ORDER_MST O ON D.order_id = O.order_id
	    INNER JOIN TB_USERS U ON O.user_no = U.user_no
	    INNER JOIN TB_COMPANIES CO ON U.company_cd = CO.company_cd
	    INNER JOIN TB_CART CT ON O.order_no = CT.order_no
	    INNER JOIN TB_OIL_MST OIL ON CT.fuel_id = OIL.fuel_id
	    WHERE D.order_id = #{orderId}
	    	AND D.doc_type = 'CONTRACT'
	</select>	
		
	<select id="selectOrderNo">
		SELECT order_no
			FROM TB_ORDER_MST
		WHERE order_id = #{orderId}
	</select>
		
	<select id="selectOrderTotalAmt" resultType="int">
	    SELECT 
	        IFNULL(
	            SUM(IFNULL(target_product_amt, total_price)), 
	            0
	        )
	    FROM TB_CART
	    WHERE order_no = #{orderNo}
	</select>
		
	<select id="selectFormattedDocNo" resultType="string">
       SELECT 
           CONCAT(UPPER(#{typePrefix}), '-', T1.company_cd, '-', T1.curr_date, '-', T1.next_seq) AS docNo
       FROM (
           SELECT 
               IFNULL((SELECT company_cd FROM TB_USERS WHERE user_id = #{userId}), 'GFT') AS company_cd,
               DATE_FORMAT(NOW(), '%Y%m%d') AS curr_date,
               LPAD(
                   IFNULL(
                       (SELECT MAX(CAST(SUBSTRING_INDEX(doc_no, '-', -1) AS UNSIGNED))
                        FROM TB_DOCUMENT_MST
                        WHERE reg_dtime >= CURDATE() 
                          AND doc_no LIKE CONCAT(UPPER(#{typePrefix}), '-%')
                       ), 0) + 1, 3, '0'
               ) AS next_seq
       ) T1
    </select>

    <insert id="insertDocument" parameterType="io.github.teamb.btob.dto.document.DocumentInsertDTO">
        INSERT INTO TB_DOCUMENT_MST (
            doc_no,
            doc_title,
            doc_type,
            order_id,
            owner_user_id,
            doc_content,
            total_amt,
            due_date,
            reg_id
        ) VALUES (
            #{docNo},
            #{docTitle},
            #{docType},
            #{orderId},
            #{ownerUserId},
            #{docContent},
            #{totalAmt},
            #{dueDate},
            #{regId}
        )
    </insert>
	
		<update id="modifyMemo">
			UPDATE TB_DOCUMENT_MST
			SET memo = #{memo}
			WHERE doc_id = #{docId}
		</update>
		
		<select id="getDocumentById" resultType="io.github.teamb.btob.dto.document.DocumentPreviewDTO">
		    SELECT 
		        doc_id,
		        doc_no,
		        doc_type, 
                doc_title,
                total_amt,
	            order_id,
		        due_date,
		        doc_content,
		        reg_dtime
		    FROM TB_DOCUMENT_MST
		    WHERE doc_id = #{docId}
		</select>
		
		<select id="getDocumentList" resultType="io.github.teamb.btob.dto.document.DocumentListDTO">
		    SELECT 
		        d.doc_id,
		        d.doc_no,
		        d.doc_title,
		        d.doc_type,
		        IFNULL(d.memo, '') AS memo,
		        d.reg_dtime,
		        u.user_name 
		    FROM TB_DOCUMENT_MST d
		    LEFT JOIN TB_USERS u ON d.owner_user_id = u.user_id
		    <where>
		    	u.company_cd = (SELECT company_cd FROM TB_USERS WHERE user_id = #{userId})
		    	<choose>
		            <when test="userType == 'MASTER'">
		            </when>
		            <otherwise>
		                AND d.owner_user_id = #{userId}
		            </otherwise>
		        </choose>
		    	<if test="docType != null and docType != ''">
			        AND doc_type = #{docType}
			    </if>
		    
		        <if test="keyword != null and keyword != ''">
		           	AND (
		                d.doc_no LIKE CONCAT('%', #{keyword}, '%')
		                d.doc_title LIKE CONCAT('%', #{keyword}, '%')
		                OR u.user_name LIKE CONCAT('%', #{keyword}, '%')
		            )
		        </if>
		    </where>
		    ORDER BY d.doc_id DESC
		</select>
</mapper>