<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.teamb.btob.mapper.payment.PaymentMapper">
	
	<!-- payment_no 생성 -->
	<select id="selectFormattedPaymentNo" resultType="string">
	    SELECT 
	        CONCAT(
	            #{systemId}, '-', 
	            (SELECT company_code FROM TB_USER WHERE user_id = #{userId}), '-', 
	            DATE_FORMAT(NOW(), '%Y%m%d'), '-',
	            LPAD(IFNULL(MAX(CAST(SUBSTRING_INDEX(payment_no, '-', -1) AS UNSIGNED)), 0) + 1, 3, '0')
	        )
	    FROM TB_PAYMENT_MST
	    WHERE pay_date = CURDATE() AND payment_no LIKE CONCAT(
	          #{systemId}, '-', 
	          (SELECT company_code FROM TB_USER WHERE user_id = #{userId}), '-%'
	      )
	</select>
	
	<!-- 결제창에 정보가져오기 -->
	<resultMap id="paymentViewMap" type="io.github.teamb.btob.dto.payment.PaymentViewDTO">
	    <id property="orderNo" column="order_no" />
	    <result property="totalPrice" column="totalPrice" />
	  	    	
	    <collection property="itemList" ofType="io.github.teamb.btob.dto.payment.PaymentViewDTO$PaymentItemDTO">
	        <result property="fuelNm" column="fuel_nm" />
	        <result property="totalQty" column="total_qty" />
	        <result property="totalPrice" column="total_price" />
	        <result property="baseUnitPrc" column="base_unit_prc" />
	        <result property="targetProductPrc" column="target_product_prc" />
	        <result property="apprUnitPrc" column="apprUnitPrc" />
	    </collection>
	</resultMap>
	
	<select id="getPaymentViewInfo" resultMap="paymentViewMap">
	    SELECT
	        m.order_id,
	        m.order_no,
	        IFNULL(e.target_total_amount, m.total_price) AS totalPrice,   
	        o.fuel_nm,
	        c.total_qty,
	        o.base_unit_prc,  
	        IFNULL(e.target_product_prc, o.base_unit_prc) AS apprUnitPrc,
	        cp.company_name,
	        cp.biz_number,
	        cp.master_name,
	        cp.company_phone,
	        cp.addr_kor,
	        cp.addr_eng,
	        cp.zip_code,
	        cp.customs_num,
			u.userNo,
			u.userId,	        
	        u.user_name,
	        u.phone
	    FROM TB_ORDER_MST m
	        INNER JOIN TB_CART c ON m.order_no = c.order_no
	        INNER JOIN TB_OIL_MST o ON c.fuel_id = o.fuel_id
	        INNER JOIN TB_USERS u ON m.user_id = u.user_id
	        INNER JOIN TB_COMPANIES cp ON u.company_cd = cp.company_cd
	        LEFT OUTER JOIN TB_EST_DOC e ON m.quote_req_id = e.est_doc_id
	    WHERE m.order_no = #{orderNo}
	      AND m.order_status = 'pr002'
	      AND m.use_yn = 'Y'
	</select>
		
	<insert id="insertPaymentMst" 
        parameterType="io.github.teamb.btob.dto.payment.PaymentRequestDTO"
        useGeneratedKeys="true" 
        keyProperty="paymentId" 
        keyColumn="payment_id">
    INSERT INTO TB_PAYMENT_MST (
        payment_no,
        order_id,
        pay_step,
        payment_key,
        method,
        amount,
        status,
        reg_id,
        reg_dtime
    ) VALUES (
        #{paymentNo},
        #{orderId},
        'FIRST',
        #{paymentKey},
        #{method},
        #{regId},
        #{status},
        #{loginUserId},
        NOW()
    )
</insert>
</mapper>